body{
    background: #f5d9d5;
    font-family: "Nunito", sans-serif;
}

h2{
   color: #EA1C2C;
   font-weight: 100;
   font-size: 2rem;
}

p{
    color: #f498b8;
    font-weight: 100;
    font-size: 1.5rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

span {
    color: #EA1C2C;
}
h1 {
    font-size: 4rem;
}
@media (max-width: 1250px) {
    h1 {
        font-size: 3.5rem;
    }
}
@media (max-width: 1150px){
    h1{
        font-size: 3rem;
    }
}